body {
    font-family: sans-serif;  /* Choose a modern font family */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /* Set minimum height for viewport */
    background-color: #b3d7ff; /* Lightest blue */
  }

  p {
    position: fixed;
    bottom: 40px;
    right: 110px;
    font-size: 20px;
    font-style: italic;
    color: #000000;
  }
  
  /* Style the button */
  button {
    display: flex;  /* Enable flexbox layout */
    justify-content: center;
    background-color: #12518d; /* Lighter blue */
    color: #fff; /* White text */
    white-space: nowrap;
    font-size: 60px;
    border: none;
    padding: 5px 100px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; /* Add a hover effect */
  }
  
  button:hover {
    background-color: #60a7e8; /* Slightly darker blue on hover */
  }