body {
    font-family: sans-serif;  /* Choose a modern font family */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /* Set minimum height for viewport */
    background-color: #1a2a43; /* Lightest blue */
  }

  /* Style the signin form container */
  .form-container {
    background-color: #b3d7ff; /* Medium blue */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
  }
  
  /* Style the heading */
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Darkest blue for text */
  }
  
  /* Style the input fields */
  input[type="text"], input[type="password"]  {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Style the button */
  button {
    background-color: #12518d; /* Lighter blue */
    color: #fff; /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; /* Add a hover effect */
  }
  
  button:hover {
    background-color: #60a7e8; /* Slightly darker blue on hover */
  }
  
  /* Style the link */
  a {
    color: #333; /* Darkest blue for links */
    text-decoration: none; /* Remove underline */
    transition: color 0.2s ease-in-out;
  }
  
  a:hover {
    color: #60a7e8; /* Lighter blue on hover */
  }